@charset "utf-8";
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css");
.k {
  font-family: "Keania One";
}

.f {
  font-family: "Faster One";
}

.a {
  font-family: "Fascinate Inline";
}

.t {
  font-family: "Tapestry";
}

.b {
  font-family: "Berkshire Swash";
}

#contents > section {
  width: 100%;
  height: 100vh;
  position: relative;
}

#section1 {
  z-index: 1000;
}

#section2 {
  background-color: #000;
  z-index: 900;
}

#section3 {
  background-color: rgb(251, 65, 65);
  z-index: 800;
}

#section4 {
  background-color: rgb(116, 116, 116);
  height: 5000px !important;
  z-index: 700;
}

#section5 {
  background-color: rgb(243, 145, 145);
  z-index: 800;
}

#section6 {
  background-color: rgb(110, 110, 110);
  z-index: 900;
}

.sec4 {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
}

.sec4 > div {
  width: 300px;
  height: 100vh;
  background: #ccc;
}

/* layout start */
/* sec1 */
.sec1 {
}

.sec1 .text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  z-index: 19;
}

.sec1 .text-wrap span {
  font-size: 16vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  opacity: 0;
}

.sec1 .text-wrap .t1 {
  left: 6%;
  top: 70%;
  font-size: 20vw;
}

.sec1 .text-wrap .t2 {
  top: 27%;
  left: 20%;
}

.sec1 .text-wrap .t3 {
  left: 30%;
  top: 65%;
}

.sec1 .text-wrap .t4 {
  top: 35%;
  left: 38%;
}

.sec1 .text-wrap .t5 {
  left: 50%;
  top: 50%;
}

.sec1 .text-wrap .t6 {
  left: 60%;
  top: 65%;
}

.sec1 .text-wrap .t7 {
  left: 70%;
  top: 30%;
}

.sec1 .text-wrap .t8 {
  left: 80%;
  top: 40%;
}

.sec1 .text-wrap .t9 {
  left: 90%;
  top: 60%;
}

.sec1 .img-wrap > span {
  display: block;
  position: absolute;
  z-index: 100;
}

#section1 .sec1 .img-wrap .i1 {
  width: 19vw;
  height: 26vw;
  left: 39%;
  bottom: -17%;
  transform: rotate(24deg);
}

#section1 .sec1 .img-wrap .i1 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i1.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2;
  }
}

#section1 .sec1 .img-wrap .i2 {
  width: 6vw;
  height: 7vw;
  left: 51%;
  top: 9%;
}

#section1 .sec1 .img-wrap .i2 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i2.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

#section1 .sec1 .img-wrap .i2 .bg {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i2.show .bg {
  animation: show 5s 1s 1 linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i3 {
  width: 10vw;
  height: 10vw;
  left: 64%;
  bottom: 3%;
}

#section1 .sec1 .img-wrap .i3 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i3.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i4 {
  width: 20vw;
  height: 10vw;
  left: 3%;
  bottom: -1%;
}

#section1 .sec1 .img-wrap .i4 .bg {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i4.show .bg {
  animation: show 5s 1s 1 linear both;
}

#section1 .sec1 .img-wrap .i4 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i4.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 1;
  }
}

#section1 .sec1 .img-wrap .i5 {
  width: 10vw;
  height: 10vw;
  left: 8%;
  top: 32%;
}

#section1 .sec1 .img-wrap .i5 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i5.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

#section1 .sec1 .img-wrap .i5 .bg {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i5.show .bg {
  animation: show 5s 1s 1 linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i6 {
  width: 6vw;
  height: 6vw;
  left: 33%;
  top: 17%;
}

#section1 .sec1 .img-wrap .i6 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i6.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i7 {
  width: 14vw;
  height: 11vw;
  left: 79%;
  bottom: 10%;
}

#section1 .sec1 .img-wrap .i7 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i7.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

#section1 .sec1 .img-wrap .i7 .bg {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i7.show .bg {
  animation: show 5s 1s 1 linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i8 {
  width: 7vw;
  height: 5vw;
  left: 15%;
  top: 19%;
}

#section1 .sec1 .img-wrap .i8 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i8.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

#section1 .sec1 .img-wrap .i8 .bg {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i8.show .bg {
  animation: show 5s 1s 1 linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i9 {
  width: 8vw;
  height: 10vw;
  left: 27%;
  bottom: 5%;
}

#section1 .sec1 .img-wrap .i9 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i9.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i10 {
  width: 6vw;
  height: 10vw;
  left: 10%;
  bottom: 12%;
}

#section1 .sec1 .img-wrap .i10 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i10.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i11 {
  width: 7vw;
  height: 10vw;
  left: 69%;
  top: 15%;
}

#section1 .sec1 .img-wrap .i11 .line {
  stroke: rgb(255, 255, 255);
  opacity: 0;
}

#section1 .sec1 .img-wrap .i11.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

#section1 .sec1 .img-wrap .i12 {
  width: 10vw;
  height: 10vw;
  left: 78%;
  top: 15%;
}

#section1 .sec1 .img-wrap .i12 .line {
  opacity: 0;
}

#section1 .sec1 .img-wrap .i12.show .line {
  animation: stroke 5s 1s 1 linear both;
  opacity: 1;
}

@keyframes stroke {
  0% {
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 90%;
    stroke-width: 0;
  }

  100% {
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 90% 0;
    stroke-width: 2.5;
  }
}

/* sec2_about */
#section2 .sec2 {
  padding: 200px 0;
}

#section2 .sec2_about {
  display: flex;
  justify-content: space-between;
}

#section2 .sec2_about .left {
  width: 50%;
  position: relative;
}

#section2 .sec2_about .left .img {
  background: url(../images/my.jpg) no-repeat center / cover;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

#section2 .sec2_about .left .high {
  position: absolute;
  left: 0%;
  top: 59%;
  background: url(../images/high.svg) no-repeat;
  background-size: contain;
  width: 50%;
  width: 39%;
  height: 50%;
}

#section2 .sec2_about .right {
  width: 42%;
  font-family: "Syncopate";
}

#section2 .sec2_about .right h2 {
  color: #fff;
  font-size: 4vw;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}

#section2 .sec2_about .right h2 em:nth-child(1) {
  margin-left: -130px;
}

#section2 .sec2_about .right h2 em:nth-child(2) {
  margin-left: -50px;
}

#section2 .sec2_about .right p {
  color: #fff;
  font-family: "NexonLv1Gothic";
  padding-right: 11%;
  font-size: 16px;
  line-height: 24px;
}

#section2 .sec2_about .right .img-wrap {
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i1 {
  width: 2vw;
  height: 1vw;
  position: absolute;
  left: 86%;
  top: 0%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i2 {
  stroke-dashoffset: -25%;
  width: 3vw;
  height: 4vw;
  position: absolute;
  left: 75%;
  top: 18%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i3 {
  width: 4vw;
  height: 4vw;
  position: absolute;
  right: 27%;
  top: 8%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i4 {
  width: 8vw;
  height: 6vw;
  position: absolute;
  left: 26%;
  top: 5%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i5 {
  width: 3vw;
  height: 4vw;
  position: absolute;
  left: 9%;
  top: 8%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i6 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  right: 38%;
  top: 23%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i7 {
  width: 3vw;
  height: 2vw;
  position: absolute;
  right: 65%;
  top: 31%;
}

#section2 .sec2 .sec2_about .right .img-wrap .i8 {
  width: 3vw;
  height: 4vw;
  position: absolute;
  left: 5%;
  top: 23%;
}
